@layer components {
  /* Heading L | 36px | 33px */
  .heading-l {
    font-family: var(--font-league);
    font-weight: var(--fw-700);
    font-size: var(--fs-36);
    line-height: var(--lh-33);
  }

  /* Heading M Variant | 24px | 33px  */
  .heading-m-variant {
    font-family: var(--font-league);
    font-weight: var(--fw-700);
    font-size: var(--fs-24);
    line-height: var(--lh-33);
  }

  /* Heading M | 24px | 22px  */
  .heading-m {
    font-family: var(--font-league);
    font-weight: var(--fw-700);
    font-size: var(--fs-24);
    line-height: var(--lh-22);
  }

  /* Heading S | 15px | 24px  */
  .heading-s {
    font-family: var(--font-league);
    font-weight: var(--fw-700);
    font-size: var(--fs-15);
    line-height: var(--lh-24);
  }

  /* Heading S Variant | 15px | 16px  */
  .heading-s-variant {
    font-family: var(--font-league);
    font-weight: var(--fw-700);
    font-size: var(--fs-15);
    line-height: var(--lh-15);
  }

  /* Body | 13px | 18px  */
  .body {
    font-family: var(--font-league);
    font-weight: var(--fw-500);
    font-size: var(--fs-13);
    line-height: var(--lh-18);
  }

  /* Body Variant | 13px | 16px  */
  .body-variant {
    font-family: var(--font-league);
    font-weight: var(--fw-500);
    font-size: var(--fs-13);
    line-height: var(--lh-15);
  }
}
